:root {
  --white: #fff;
  --shark: #232629;
  --emerald: #39c162;
  --seashell: #f1f0f0;
  --cardinal: #c2242d;
  --ming: #33607a;
  --silver: #c4c4c4;
  --fontVar: "Fira Sans", sans-serif;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
@media (max-width: 768px) {
  .ui.secondary.menu {
    display: grid ;
  }
}

.card-grid.ui.relaxed.four.column.grid {
  grid-column-gap: 15px;
}
.card-grid.ui.relaxed.four.column.grid .ui.card {
  margin-top: 0;
}

.card-grid.ui.relaxed.four.column.grid{
  grid-row-gap: 10px;
  padding: 10px;
}
.ui.card, .ui.cards>.card {
  padding: 15px;
}